@charset "utf-8";
/* CSS Document */
/* CSS Document */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
a {
  text-decoration: none;
  color: #4c4c4c;
}
html,
body {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
b,
strong {
  font-weight: bold;
}
img {
  border: 0;
  color: transparent;
  font-size: 0;
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
ol,
ul {
  list-style: none;
}
li {
  display: list-item;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
form,
input,
select,
textarea,
button {
  outline: none;
}
.f-r {
  float: right !important;
}
.none {
  float: none!important;
}
.f-l {
  float: left !important;
}
.imgcontain {
  width: 100%;
  height: 100%;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.inlin {
  width: 100%;
  display: inline-block;
}
.relative {
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

.login {
  font-family: 'Ubuntu';
}
.login .container {
  margin: 0 auto;
}
.login .login-box {
  padding: 48px 25px 25px;
  color: #7a8993;
  width: 483px;
  margin: 0 auto;
  font-size: 14px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-top: 6%;
}
.login .login-box .logo {
  width: 150px;
  margin: 0 auto 15px;
}
.login .login-box .logo img {
  width: 100%;
}
.login .login-box .slogan {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  margin-bottom: 35px;
}
.login .login-box .text-danger {
  color: #ED6251;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}
.login .login-box .form-login:first-of-type {
  margin-top: 10px;
}
.login .login-box .form-login {
  padding: 0 11px;
}
.login .login-box .form-login .has-error,
.login .login-box .form-login .has-success {
  position: relative;
}
.login .login-box .form-login .has-error .validation,
.login .login-box .form-login .has-success .validation {
  display: block;
  position: absolute;
  top: 40px;
  right: 16px;
}
.login .login-box .form-login .has-error .validation .invalid,
.login .login-box .form-login .has-error .validation .valid,
.login .login-box .form-login .has-success .validation .invalid,
.login .login-box .form-login .has-success .validation .valid {
  width: 20px;
  height: 20px;
  display: none;
}
.login .login-box .form-login .has-success .form-input {
  border-color: #73CF64;
  border: 1px solid #73cf64 !important;
}
.login .login-box .form-login .has-success .validation .valid {
  background-image: url("../images/icon-ok.svg");
  display: block;
}
.login .login-box .form-login .has-error .form-input {
  border-color: #FA787E;
}
.login .login-box .form-login .has-error .validation .invalid {
  background-image: url("../images/icon-fail.svg");
  display: block;
}
.login .login-box .form-login label {
  margin-bottom: 4.8px;
  font-weight: normal;
  display: block;
}
.login .login-box .form-login .form-input {
  padding: 11px 46px 11px 16px;
  border-radius: 5px;
  color: #7a8993;
  width: 100%;
  font-size: 20px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #e5e5e5;
}
.login .login-box .form-login .form-input .validation {
  display: none;
}
.login .login-box .form-login .form-input .validation .validm,
.login .login-box .form-login .form-input .validation .invalid {
  display: none;
}
.login .login-box .form-login input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.7) inset;
  color: #7a8993 !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.login .login-button {
  width: 100%;
  padding: 17px 0;
  text-align: center;
  font-size: 21.5px;
  border: 1px solid #357ebd;
  color: #fff;
  margin-top: 40px;
  background-color: #66bb6a;
  border-radius: 4px;
}

@media screen and (min-width: 1440px) {
  body .login .container {
    width: 1440px;
  }
}
/*this is for checkbox*/
/* SQUARED FOUR */
.squaredFour {
  width: 16px;
  float: left;
  margin-right: 14px;
  position: relative;
}

.squaredFour label {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 0 white, 0 0 0 rgba(0, 0, 0, 0.5);
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 3px;
  border: 3px solid #7a8993;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.squaredFour label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
